{
  "parserOptions": {
    "ecmaVersion": 5
  },
  "extends": [
    "travix/base"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-var": ["off"],
    "vars-on-top": ["off"],
    "no-extra-semi": ["off"],
    "no-console": ["off"],
    "comma-dangle": ["error", "always-multiline"],
    "max-len": [2, {"code": 120, "comments": 120}],
    "no-else-return": 0,
    "multiline-ternary": ["off"],
    "operator-linebreak": [2, "after", {
      "overrides": {
        "?": "before",
        ":": "before",
        "&&": "ignore",
        "||": "ignore",
        "=": "ignore",
        "+": "ignore"
      }
    }]
  }
}
